<div class="thing">
    <h5>I love Pat because he's my babe. Mine.</h5>
    <img src="../../assets/baby.jpg" alt="baby">
</div>
<div class="thing">
    <h5>Something I adore about Pat is how fun he is and he doesnt even knoe it.</h5>
    <img src="../../assets/birthday.jpg" alt="birthday">
</div>
<div class="thing">
    <h5>I love Pat because he loves me.</h5>
    <img src="../../assets/cute.png" alt="cute">
</div>
<div class="thing">
    <h5>He also loves empanadas.</h5>
    <img src="../../assets/empanadas.jpg" alt="emps">
</div>
<div class="thing">
    <h5>I love to cook for Pat.</h5>
    <img src="../../assets/food.jpg" alt="food">
</div>
<div class="thing">
    <h5>Patrick makes me laugh all the time.</h5>
    <img src="../../assets/funny.jpg" alt="funny">
</div>
<div class="thing">
    <h5>Have you seen how hot he is?</h5>
    <img src="../../assets/hot.jpg" alt="hot">
</div>
